<%% if @project.users.empty? %>
  <br/>
    No users added yet.<br />
  <br/>
<%% else %>
  <table class="sortable">
    <%% for user in @project.users %>
      <tr class="<%%= cycle :even, :odd, :name => 'users'  %>">
        <td nowrap><%%= link_to h(user.login), user_path(user) %></td>
        <%% if current_user.admin? -%>
          <td><%%= link_to 'Remove', project_project_user_path(@project, user), :confirm => 'Are you sure?', :method => :delete %></td>
        <%% end -%>
      </tr>
    <%% end %>
  </table>
<%% end %>

<%% if current_user.admin? %>
<form action='<%%=project_project_users_path(@project)%>' method='post'>
	<label>Add user: </label>
	<%%=select 'project_user', 'id', User.find(:all).reject{|u| @project.user_ids.include?(u.id)}.collect{|u| [u.login, u.id]}%>
	<input type='submit' value='Add' />
</form>
<%%end%>